.terminal-wrapper {
  background-color: #151515;
  color: #fff;
  /* height: 100vh; */
  padding: 1rem;
  /* box-sizing: border-box; */
  /* overflow: auto; */
  margin: auto;
  /* width: 95%; */
  height: 435px; 
  overflow-x: scroll;
  overflow-y: scroll;
}

.terminal-input {
  caret-color: transparent;
  display: inline;
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
  color: #fff;
  font-size: 1rem;
}

.terminal {
  white-space: pre;
}

.highlighted-text {
  color: yellow;
}